*{
  margin: 0%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
}

.navbar{
  width: 100vw;
  height: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(176, 8, 8, 0.869) 
}

.form{
  width: 50rem;
}